<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755671851792-66pf3puimgspcd8919d5kogcu6n601c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755671851792-66pf3puimgspcd8919d5kogcu6n601c2</string>
	<key>API_KEY</key>
	<string>AIzaSyDpk6UyXu85I_52hbVnwAXftmYqP4i7XWU</string>
	<key>GCM_SENDER_ID</key>
	<string>755671851792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qasmi.Helpadora</string>
	<key>PROJECT_ID</key>
	<string>helpadora-dd43a</string>
	<key>STORAGE_BUCKET</key>
	<string>helpadora-dd43a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755671851792:ios:cb894a03f6b0507e6c3b95</string>
</dict>
</plist>